# .NET
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/*.dbmdl
**/*.log

# Angular
LibraryWebApp_Angular/node_modules/
LibraryWebApp_Angular/dist/
LibraryWebApp_Angular/.angular/cache/

# Env files
.env
!.env.example

# System
.DS_Store
Thumbs.db

# Editors
.vscode/
*.code-workspace

# Docker artifacts
**/docker-output/

# Node logs
npm-debug.log
yarn-debug.log
yarn-error.log