<div class="modal-header">
    <h4 class="modal-title">Add new book</h4>
</div>
<div class="modal-body">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6">
                <p>
                    <input type="text" id="title" name="title" placeholder="Title" formControlName="title">
                </p>
                <p>
                    <input type="text" id="genre" name="genre" placeholder="Genre*" formControlName="genre">
                </p>
                <p>
                    <input type="text" id="author" name="author" placeholder="Author*" formControlName="author">
                </p>
            </div>
            <div class="col-6">
                <p>
                    <input type="date" id="release_date" name="release_date" placeholder="Release Data" formControlName="release_date">
                </p>
                <p>
                    <input type="textarea" id="description" name="description" placeholder="Description" formControlName="description">
                </p>
                <p>
                    <input type="text" id="image" name="image" placeholder="Image" formControlName="image">
                </p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button class="btn btn-danger" (click)="abort()">Cancel</button>
    </form>
</div>